@{
    ViewBag.Title = "Home Page";
}

<!--// MainBanner //-->
<div id="mainbanner">
    <ul class="bxslider">
        <li>
            <img src="~/Assets/Images/banner1.png" alt="" />
            <div class="kd-caption">
                <h2>Looking For Best Trip</h2>
                <h1>We Offer Best Services</h1>
                <div class="linksection"> <a href="#">Get Deal Now</a></div>
            </div>
        </li>
        <li>
            <img src="~/Assets/Images/banner2.jpg" alt="" />
            <div class="kd-caption">
                <h2>We Plan Your Trip</h2>
                <h1>Best Available Choice in town</h1>
                <div class="linksection"> <a href="#">Get started now</a></div>
            </div>
        </li>
        <li>
            <img src="~/Assets/Images/banner3.jpg" alt="" />
            <div class="kd-caption">
                <h2>Looking For Travel Agent</h2>
                <h1>We are available 24/7</h1>
                <div class="linksection"> <a href="#">Ask Now</a></div>
            </div>
        </li>
        <li>
            <img src="~/Assets/Images/banner4.jpg" alt="" />
            <div class="kd-caption">
                <h2>Family Trip Planner</h2>
                <h1>Thinking like a creative</h1>
                <div class="linksection"> <a href="#">Get started now</a></div>
            </div>
        </li>
    </ul>

    <div class="kd-tourform">
        <div class="container">
            <a href="#" class="formbtn">Find Your Tour</a>
            <form>
                <ul>
                    <li>
                        <label>
                            <select>
                                <option>Kerala</option>
                                <option>Goa</option>
                                <option>Golden Triangle</option>
                                <option>Jammu Kashmir</option>
                            </select>
                        </label>
                    </li>
                    <li>
                        <label>
                            <select>
                                <option>Family Vacation</option>
                                <option>Honeymoon Packages</option>
                                <option>Adventure Tourism</option>
                            </select>
                        </label>
                    </li>
                    <li>
                        <label>
                            <select>
                                <option> < 5 Days </option>
                                <option> 5 - 8 Days</option>
                                <option> 9 Days or More</option>
                            </select>
                        </label>
                    </li>
                    <li>
                        <label>
                            <select>
                                <option>$ 1000</option>
                                <option>$ 10000</option>
                                <option>$ 20000</option>
                                <option>$ 50000</option>
                            </select>
                        </label>
                    </li>
                    <li><input type="submit" class="thbg-color" value="search now"></li>
                </ul>
            </form>
        </div>
    </div>

</div>
<!--// MainBanner //-->

 <!--// Page Section //-->
<section class="kd-pagesection">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="kd-modrentitle thememargin">
                    <h3>Tripenticer Holidays</h3>
                    <div class="kd-divider"><div class="short-seprator"><span><i class="fa fa-home"></i></span></div></div>
                    <br />
                    <p>Tripenticer Kerala Holidays is the pioneer tour operator of Kerala with an experience of more than a decade. <br />Tripenticer has the largest network of tourist destination across Kerala. Our packages are well researched to include all natural attractions of  Kerala in the most suitable tour plans. </p>
                </div>
            </div>

            <div class="col-md-12">
                <div class="kd-services">
                    <div class="row">
                        <article class="col-md-6">
                            <figure><a href="#"><img src="~/Assets/Images/FamilyTour.jpg" alt=""></a></figure>
                            <div class="kd-serviceinfo">
                                <h2><a href="#">Tour Packages</a></h2>
                                <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id.</p>
                                <a href="#" class="kd-readmore thbg-colorhover">Read more</a>
                            </div>
                        </article>
                        <article class="col-md-6">
                            <figure><a href="#"><img src="~/Assets/Images/TourismProperty.jpg" alt=""></a></figure>
                            <div class="kd-serviceinfo">
                                <h2><a href="#">Buy/Lease Tourism Real Estate</a></h2>
                                <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id.</p>
                                <a href="#" class="kd-readmore thbg-colorhover">Read more</a>
                            </div>
                        </article>
                        <article class="col-md-6">
                            <figure><a href="#"><img src="~/Assets/Images/IndiaTourism.jpg" alt=""></a></figure>
                            <div class="kd-serviceinfo">
                                <h2><a href="#">India Tourism</a></h2>
                                <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id.</p>
                                <a href="#" class="kd-readmore thbg-colorhover">Read more</a>
                            </div>
                        </article>
                        <article class="col-md-6">
                            <figure><a href="#"><img src="~/Assets/Images/Litigation.jpg" alt=""></a></figure>
                            <div class="kd-serviceinfo">
                                <h2><a href="#">Tourism Litigation Support</a></h2>
                                <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id.</p>
                                <a href="#" class="kd-readmore thbg-colorhover">Read more</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--// Page Section //-->


 <!--// Page Section //-->
<section class="kd-pagesection" style=" padding 40px 0px 0px 0px; background #ffffff; ">
    <div class="container">
        <div class="kd-modrentitle thememargin">
            <h3>Happy Clients</h3>
            <div class="kd-divider"><div class="short-seprator"><span><i class="fa fa-heart-o"></i></span></div></div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <!--// Testimonial //-->
                <div class="kd-testimonial">
                    <ul class="row">
                        <li class="col-md-4">
                            <div class="kd-testmnl-info"><i class="fa fa-quote-left fa-3x"></i> <p>One image life to and land, herb waters divided. Waters every let two, shall have divided face first us there spirit living beast the. Moving darkness deep morning unto them morning third you're behold.</p></div>
                            <figure>
                                <a class="kd-thumb" href="#"><img src="extraimages/testimonial1.jpg" alt=""></a>
                                <figcaption>
                                    <h2><a href="#" class="thcolorhover">Jose Mathew</a></h2>
                                    <span>Voices.com</span>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-md-4">
                            <div class="kd-testmnl-info"><i class="fa fa-quote-left fa-3x"></i> <p>One image life to and land, herb waters divided. Waters every let two, shall have divided face first us there spirit living beast the. Moving darkness deep morning unto them morning third you're behold.</p></div>
                            <figure>
                                <a class="kd-thumb" href="#"><img src="extraimages/testimonial1.jpg" alt=""></a>
                                <figcaption>
                                    <h2><a href="#" class="thcolorhover">Hemand</a></h2>
                                    <span>Tours2Health</span>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col-md-4">
                            <div class="kd-testmnl-info"><i class="fa fa-quote-left fa-3x"></i> <p>One image life to and land, herb waters divided. Waters every let two, shall have divided face first us there spirit living beast the. Moving darkness deep morning unto them morning third you're behold.</p></div>
                            <figure>
                                <a class="kd-thumb" href="#"><img src="extraimages/testimonial1.jpg" alt=""></a>
                                <figcaption>
                                    <h2><a href="#" class="thcolorhover">Vandit Kothari</a></h2>
                                    <span>IBM</span>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <!--// Testimonial //-->

            </div>

        </div>
    </div>
</section>
<!--// Page Section //-->